.grid-container {
  position: relative;
  nav {
    height: 300px;
    display: grid;
    align-items: start;
    background: #3f51b5;
    span {
        font-size: 2em;
        color: #fff;
        font-weight: bold;
    }
  }

  .ui-container {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    padding-top: 150px;

    .container {
      display: grid;
      grid-template-rows: 100px 1fr 50px;
      .top-panel {
          .light {
              background: rgba(255, 255, 255, .57);
              color: #fff;
              font-size: 1.5em;
          }
        .meta {
          display: flex;
          justify-content: space-between;
        }

      }
      main {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .card.generate {
          .card-body {
            display: grid;
            justify-items: start;
            align-items: start;

            button {
              justify-self: center;
              border-radius: 5px;
            }
          }
        }

        .card.phones {
          display: grid;
          justify-items: stretch;
          background: none;
          border: none;
        }
      }
      .excel {
        margin: 0 auto;
        margin-top: 1em;
        width: 5em;
        height: 5em;
        border-radius: 50%;
      }
    }
  }
}
